 h2 {
    font-size: 50px;
    color: rgb(255, 192, 200);
 }
 .pageTitle {
                font-size: 40px;
                color:blueviolet;
            }
  #focusMe  {
                font-size: 32px;
                color:gold;
            }
 